<html>
	<body>
	  <p>
	    <ul>
	      <li>Latitude: {{ squirrels.Latitude }}</li>
              <li>Longitude: {{squirrels.Longitude}}</li>
              <li>Unique ID: {{squirrels.Unique_Squirrel_ID}}</li>
              <li>Shift: {{squirrels.Shift}}</li>
              <li>Date: {{squirrels.Date}}</li>
	      <li>Age: {{squirrels.Age}}</li>
              <li>Fur Color: {{squirrels.Primary_Fur_Color}}</li>
              <li>Location:{{squirrels.Location}}</li>
              <li>Specific Location:{{squirrels.Specific_Location}}</li>
              <li>Running: {{squirrels.Running}}</li>
              <li>Chasing: {{squirrels.Chasing}}</li>
              <li>Climbing: {{squirrels.Climbing}}</li>
              <li>Eating: {{squirrels.Eating}}</li>
              <li>Foraging: {{squirrels.Foraging}}</li>
              <li>Other Activities: {{squirrels.Other_Activities}}</li>
              <li>Kuks: {{squirrels.Kuks}}</li>
              <li>Quaas: {{squirrels.Quaas}}</li>
              <li>Moans: {{squirrels.Moans}}</li>
              <li>Tail Flags: {{squirrels.Tail_Flags}}</li>
              <li>Tail Twitches: {{squirrels.Tail_Twitches}}</li>
              <li>Approaches: {{squirrels.Approaches}}</li>
              <li>Indifferent: {{squirrels.Indifferent}}</li>
              <li>Runs From: {{squirrels.Runs_From}}</li>
	    </ul>
	  </p>  
	</body>
</html>
