<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>List of all Squirrels</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th>Latitude</th>
	  <th>Longitude</th>
	  <th>Unique_Squirrel_ID</th>
	  <th>Shift</th>
	  <th>Date</th>
	  <th>Age</th>
	  <th>Primary_Fur_Color</th>
	  <th>Location</th>
	  <th>Specific_Location</th>
	  <th>Running</th>
	  <th>Chasing</th>
	  <th>Climbing</th>
	  <th>Eating</th>
	  <th>Foraging</th>
	  <th>Other_Activities</th>
	  <th>Kuks</th>
	  <th>Quaas</th>
	  <th>Moans</th>
	  <th>Tail_Flags</th>
	  <th>Tail_Twitches</th>
	  <th>Approaches</th>
	  <th>Indifferent</th>
	  <th>Runs_From</th>
        </tr>
      </thead>
      <tbody>
	{% for squirrel in squirrels %}
        <tr>
	  <td>{{squirrel.Latitude}}</td>
          <td>{{squirrel.Longitude}}</td>
	  <td><a href='{{squirrel.Unique_Squirrel_ID}}'>{{squirrel.Unique_Squirrel_ID}}</a></td>
	  <td>{{squirrel.Shift}}</td>
	  <td>{{squirrel.Date}}</td>
	  <td>{{squirrel.Age}}</td>
	  <td>{{squirrel.Primary_Fur_Color}}</td>
          <td>{{squirrel.Location}}</td>
	  <td>{{squirrel.Specific_Location}}</td>
	  <td>{{squirrel.Running}}</td>
	  <td>{{squirrel.Chasing}}</td>
	  <td>{{squirrel.Climbing}}</td>
	  <td>{{squirrel.Eating}}</td>
	  <td>{{squirrel.Foraging}}</td>
	  <td>{{squirrel.Other_Activities}}</td>
	  <td>{{squirrel.Kuks}}</td>
	  <td>{{squirrel.Quaas}}</td>
	  <td>{{squirrel.Moans}}</td>
	  <td>{{squirrel.Tail_Flags}}</td>
	  <td>{{squirrel.Tail_Twitches}}</td>
	  <td>{{squirrel.Approaches}}</td>
	  <td>{{squirrel.Indifferent}}</td>
	  <td>{{squirrel.Runs_From}}</td>
	  <td><a href='/sightings/{{squirrel.Unique_Squirrel_ID}}/'>edit</a></td>
          <td><a href='/sightings/{{squirrel.Unique_Squirrel_ID}}/delete/'>delete</a></td>
        </tr>
	{% endfor %}
      </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
