<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="
sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Stats</title>
  </head>
  <body>
    <main>
        <img src="https://img.icons8.com/fluent/48/000000/squirrel.png">
    	<li>Total Observation: {{num_of_squirrels}}</li>
      	<br>
        <li>Minimum latitude is {{latitude.minimum}}</li>
	<li>Maximum latitude is {{latitude.maximum}}</li>
      	<br>
      	<li>Minimum longitude is {{longitude.minimum}}</li>
        <li>Maximum longitude is {{longitude.maximum}}</li>
      	<br>
      	<li>shift: {{shift}}</li>
      	<br>
     	<li>Age: {{age}}</li>
      	<br>
      	<li>Primary fur color: {{primary_fur_color}}</li></ul>
    	</main>
  </body>

</html>
